.backImg {
    position: relative;
    background-image: url('https://source.unsplash.com/TRCJ-87Yoh0');
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100vw;
    margin: 1rem 0;
}