@import url('https://fonts.googleapis.com/css2?family=Kanit&family=family=Anton&family=Itim&family=Work+Sans&family=Montserrat&family=Oswald&family=Cabin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities{
    .accent-0{

    }
} */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-family: 'Anton', sans-serif;
}

a,
li,
button {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Cabin', sans-serif;
}

h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

.logo{
    font-family: 'Kanit', sans-serif;
}


.reSwiper{
    height: 300px;
    width: 100%;
}

.reSwiper .swiperslide{
    width: auto;
}

.reSwiper .swiper-pagination-bullet{
    background: #111;
}

.mySwiper{
    height: 500px;
    width: 100%;
}


.mySwiper .swiperslide{
    width: auto;
}

.mySwiper .swiper-pagination-bullet{
    background: #111;
}

.fixedxx {
    position: fixed
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}