@import url('https://fonts.googleapis.com/css2?family=Anton&family=Itim&family=Work+Sans&family=Montserrat&family=Oswald&family=Cabin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

body {
    background: #a58d72;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-family: 'Anton', sans-serif;
}

a,
li,
button {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Cabin', sans-serif;
}

h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}



.scrollup {
    width: 2.75rem;
    height: 2.75rem;
    right: 1rem;
    bottom: 1.5rem;
    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    z-index: 100;
}

.reSwiper{
    height: 300px;
    width: 100%;
}

.reSwiper .swiperslide{
    width: auto;
}

.reSwiper .swiper-pagination-bullet{
    background: #111;
}

.mySwiper{
    height: 500px;
    width: 100%;
}


.mySwiper .swiperslide{
    width: auto;
}

.mySwiper .swiper-pagination-bullet{
    background: #111;
}

.fixedxx {
    position: fixed
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}